@import url('https://cdn.jsdelivr.net/gh/lexdoescodingnow/templates@ab028b0cbcb6e059f0dcdfaaec0b630750db0b78/sake/sake-buds.css');

.bh-sake-bud--side .bh-sake-bud__media {
  z-index: 4;
}

.bh-sake-bud--side .bh-sake-bud__portrait {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}
